@font-face {
    font-family:"Cartoon" ;
    src: url('fonts/Carton_Six.ttf') format('truetype');
}

@font-face {
    font-family: "Mango";
    src: url('fonts/Mango\ Nice.ttf') format('truetype');
}
@font-face {
    font-family: "Mouse";
    src: url('fonts/MouseMemoirs-Regular.ttf') format('truetype');
}

@media (max-width: 767px){

body{
    font-size: 16px;

}
.container3 {
display: grid;
 grid-template-areas:
    "turn turn gif"
   "turn2 turn2 gif"
    "o o o "
    "sheet sheet sheet"
    "icon icon icon"
    "symbol symbol text";
  grid-template-columns: auto auto auto;
max-width: 95%;

}
.container3 {
display: grid;
 grid-template-areas:
    "turn turn gif"
   "turn2 turn2 gif"
    "o o o "
    "sheet sheet sheet"
    "icon icon icon"
    "symbol symbol text";
  grid-template-columns: auto auto auto;
max-width: 95%;

}

.mar{
    margin: auto;
}

.container3 div.turn {
    grid-area: turn;

}
.container3 div.turn2 {
grid-area: turn2;
}
.container3 div.gif {
grid-area: gif;
}
.container3 div.sheet {
grid-area: sheet;
}

.container3 div.icon {
grid-area: icon;
}
.container3 div.symbol {
grid-area: symbol;
}
.container3 div.text {
grid-area: text;
}

.container4 {
display: grid;
 grid-template-areas:
    "sign diner diner "
    "o o r"
    "menu safety l "
    "menu safety l "
    "menu safety l "
    "symbol symbol text";
  grid-template-columns: 50% 50% 50%;
  max-width: 95%;

}

.container4 div.sign {
grid-area: sign;
}
.container4 div.diner {
grid-area: diner;
}

.container4 div.o {
grid-area: o;
}

.container4 div.safety {
grid-area: safety;
}

.container4 div.menu {
grid-area: menu;
}


.container5 {
display: grid;
 grid-template-areas:
    "lil lil lil" 
    "event event o"
    "ticket ticket ticket"
    "icon icon icon"
    "mock mockup mockupp"
    "e e e"
    "picto picto picto"
    "l t t"
    "video video video";
  grid-template-columns: auto auto auto;
max-width: 95%;
}

.container5 div.lil {
grid-area: lil;
}

.container5 div.icon {
grid-area: icon;
}

.container5 div.mockup {
grid-area: mockup;
}

.container5 div.mockupp {
grid-area: mockupp;
}

.container5 div.mock {
grid-area: mock;
}

.container5 div.picto {
grid-area: picto;
}

.container5 div.event {
grid-area: event;
}

.container5 div.ticket {
grid-area: ticket;
}

.container5 div.video {
grid-area: video;
}

.container5 div.o {
grid-area: o;}

.container5 div.e {
grid-area: e;}

.container5 div.l {
grid-area: l;}

.container6 {
  display: grid;
  grid-template-areas: 
  "q w "
  "e r "
  "t y "
  "u i ";
  grid-template-columns: 50% 50%  ;
  max-width: 95%;
justify-content: center;
align-items: center;
margin: auto;
}

.container6 div.q {
grid-area: q;}
.container6 div.w {
grid-area: w;}
.container6 div.e {
grid-area: e;}
.container6 div.r {
grid-area: r;}
.container6 div.t {
grid-area: t;}
.container6 div.y {
grid-area: y;}
.container6 div.u {
grid-area: u;}
.container6 div.i {
grid-area: i;}

.container7{
    display: grid;
 grid-template-areas:
    "text alana alana" 
    "o o o"
    ;
  grid-template-columns: auto auto auto;
max-width: 95%;
margin:auto

}

.container7 div.text {
grid-area: text;}

.container7 div.alana {
grid-area: alana;}



}

.mangofont{
    font-family: "Mango";
    font-size: 100px;
}

.mangofont2{
    font-family: "Mango";
    font-size: 75px;
}
.Mousefont{
    font-family: "Mouse";
letter-spacing: 1px;}

    .cartonfont{
    font-family:"Cartoon" ;
    font-size: 50px;
    letter-spacing: 2px;
}

.titlecolor{
    color: #A14AE3;
}
.headingcolor{
    color: #FFD39D;
}

.textcolor{
    color: #2F1846
}

.center {
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
padding: 20px;
}

.container2 {
   display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto;
  width: 95%;
   align-items: center;
  
}



.container3 {
display: grid;
 grid-template-areas:
    "turn turn gif"
   "turn2 turn2 gif"
    "o o o "
    "sheet sheet sheet"
    "icon icon icon"
    "symbol symbol text";
  grid-template-columns: auto auto auto;
max-width: 1000px;

}

.mar{
    margin: auto;
}

.container3 div.turn {
    grid-area: turn;

}
.container3 div.turn2 {
grid-area: turn2;
}
.container3 div.gif {
grid-area: gif;
}
.container3 div.sheet {
grid-area: sheet;
}

.container3 div.icon {
grid-area: icon;
}
.container3 div.symbol {
grid-area: symbol;
}
.container3 div.text {
grid-area: text;
}

.container4 {
display: grid;
 grid-template-areas:
    "sign diner diner "
    "o o r"
    "menu safety l "
    "menu safety l "
    "menu safety l "
    "symbol symbol text";
  grid-template-columns: 50% 50% 50%;
  max-width: 1000px;

}

.container4 div.sign {
grid-area: sign;
}
.container4 div.diner {
grid-area: diner;
}

.container4 div.o {
grid-area: o;
}

.container4 div.safety {
grid-area: safety;
}

.container4 div.menu {
grid-area: menu;
}


.container5 {
display: grid;
 grid-template-areas:
    "lil lil lil" 
    "event event o"
    "ticket ticket ticket"
    "icon icon icon"
    "mock mockup mockupp"
    "e e e"
    "picto picto picto"
    "l t t"
    "video video video";
  grid-template-columns: auto auto auto;
max-width: 1000px;
}

.container5 div.lil {
grid-area: lil;
}

.container5 div.icon {
grid-area: icon;
}

.container5 div.mockup {
grid-area: mockup;
}

.container5 div.mockupp {
grid-area: mockupp;
}

.container5 div.mock {
grid-area: mock;
}

.container5 div.picto {
grid-area: picto;
}

.container5 div.event {
grid-area: event;
}

.container5 div.ticket {
grid-area: ticket;
}

.container5 div.video {
grid-area: video;
}

.container5 div.o {
grid-area: o;}

.container5 div.e {
grid-area: e;}

.container5 div.l {
grid-area: l;}

.container6 {
  display: grid;
  grid-template-areas: 
  "q w "
  "e r "
  "t y "
  "u i ";
  grid-template-columns: 50% 50%  ;
  max-width: 1200px;
justify-content: center;
align-items: center;
margin: auto;
}

.container6 div.q {
grid-area: q;}
.container6 div.w {
grid-area: w;}
.container6 div.e {
grid-area: e;}
.container6 div.r {
grid-area: r;}
.container6 div.t {
grid-area: t;}
.container6 div.y {
grid-area: y;}
.container6 div.u {
grid-area: u;}
.container6 div.i {
grid-area: i;}

.container7{
    display: grid;
 grid-template-areas:
    "text alana alana" 
    "o o o"
    ;
  grid-template-columns: auto auto auto;
max-width: 1000px;
margin:auto

}

.container7 div.text {
grid-area: text;}

.container7 div.alana {
grid-area: alana;}


.hr1{ width: 100%;
    margin: 0%;
    background-color: #FFD39D;
    border-width: 3px;
    border-style: solid;
    border-color: #FFD39D;

}
.padding {
  padding: 20px;
  margin: auto;
}

.padding2 {
  padding-right: 100px;
  padding-left: 100px;
  margin-top: 25px;
  padding-bottom: 50px;
  margin: auto;
}

.padding3{
    padding-top: 150px;
    padding-left: 25px;

}

.padding4{
    padding-top: 10px;
}
.textsize1{
    font-size: 30px;
}

.textsize2{
    font-size: 30px;
}

.textsize3{
    font-size: 50px;
}
.textsize4{
    font-size: 25px;
}

.nodeco{
    text-decoration: none;
}
img{width:100%;}
/* .imgsize{

    height: 300px
}
.imgsize2{
    height: 250px;
}
.imgsize3{
    height: 350px;
} */

.gridItem{
   max-width:100%;
    padding: 20px;
    box-sizing: border-box;
}
.gridItem2{
    max-width: 100%;
    padding: 10px;
    box-sizing: border-box;

}

.elevatorpadding{
   padding: 5px;
}
.backcolor{ background-color: #f1e6fd;}
.shadow{
    text-shadow: 2px 2px rgb(166, 50, 4);
}
 .title{

    margin-bottom: 20px ;

 }

 .pad{
    padding: 20px;
 }

 .padtop{
padding-top: 30px;

 }