

.container {
  position: relative;
  text-align: center;
  color: black;
  display: flex;
  justify-content: center;
}

.backcolor {background-color: black;}

.fontcolor {color: white;}

.container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.gridcontainer {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(800px, 1fr));
  grid-auto-flow: row dense;
  justify-items: center;
  }

.gridcontainer img:hover {
  transform: scale(1.5);

}

.gridItem {


    margin-top: 20px;
    width: 800px;

    margin-bottom: auto;
    padding-bottom: auto;


  }

  .imgsize{

    width: 800px

  }

.vidsize { margin-left: 10px;
  width: 1000px;

}

.imgsize2{
  margin-top: 20px;

}



.font{
  font-family: "Cal Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font2{
  font-family: "Cal Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  word-spacing: 5px
}

.sizefont {font-size: 130px;
text-align: center;}

.sizefont2 {font-size: 50px;
;}

.center {
  text-align: center;
}
.center2 {
  margin: auto;
  display: block;
}

.linkstyle { text-decoration: underline;
  font-size: 40px;
  color: white

}


.headdecor{
  color: white;
  text-decoration: none;

}
.top-center {
  position: absolute;
  font-size: 140px;
  text-align: center;
  margin-top: 18%;
  margin-left: 16%;


}

.width {width: 100%}

.navbar {

  color: rgb(255, 255, 255);
  font-size: 30px;
  text-decoration: none;



}

.padding {
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 100px;
  margin: auto;
}
