.gridcontainer {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    
    justify-items: center;
    }

.gridItem {

    background-color: aqua;
    margin-top: 20px;
    width: 600px
  }

  .imgsize{ 
    margin-top: 20px;
    width: 600px
  
  }